.body {
    height: 100%;
    width: 100%;
    padding: 1rem;
    margin-top: 3.75rem;
}

.card {
    line-height: 1.5;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}