<app-menu></app-menu>

<div class="body">
  <p class="header">Notificações</p>
  <p-card>
    <p-card>
      <div header="Ordem de serviço:" class="mini-card-content">
        <p class="numeroOrdem">xxxxx</p>
        <div class="mini-card-buttons">
          <button
            pButton
            type="button"
            icon="pi pi-eye"
            severity="info"
          ></button>
          <button
            pButton
            type="button"
            icon="pi pi-check"
            severity="success"
          ></button>
          <button
            pButton
            type="button"
            icon="pi pi-times"
            severity="danger"
          ></button>
        </div>
      </div>
    </p-card>
  </p-card>
</div>
