.body {
    height: 100%;
    width: 100%;
    padding: 1rem;
    margin-top: 2.75rem;
}

.header {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}
.numeroOrdem {
    font-size: 2.5rem;
    font-weight: bold;
}

.mini-card-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 !important;
}

.mini-card-buttons button {
    margin-left: 0.75rem;
}

:host ::ng-deep {
    .p-card .p-card-content {
        padding: 0 !important;
    }

    .p-card .p-card-title {
        margin-bottom: 1.5rem;
    }
}